<section class="vh-100 d-flex justify-content-center align-items-center p-4" id="section">
    <div class="row contact-form bg-light position-relative" id="container">
        <div class="col-md-6 p-0">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3202.5845249712584!2d-68.1512829259038!3d-16.51746552688352!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x915edf0071aeec53%3A0xcf073e26d98c26cf!2sVirtus%20Technology!5e1!3m2!1ses-419!2sbo!4v1734817082983!5m2!1ses-419!2sbo" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="mapa"></iframe>
        </div>
        <div class="col-md-6 p-5 d-flex justify-content-center align-items-center">
            <form action="" class="w-100">
                <legend class="mb-4">Contacto</legend>
                <div class="mb-3">
                    <label for="subject" class="form-label">Nombre</label>
                    <input type="text" [formControl]="name" class="form-control" id="subject" placeholder="Juan Perez">
                    
                    <div class="alert alert-danger" [hidden]="name.valid || name.pristine">
                        El nombre es obligatorio
                    </div>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" [formControl]="email" class="form-control" id="email" placeholder="juanp@gmail.com">                    
                    
                    <div class="alert alert-danger mt-2" [hidden]="email.valid || email.pristine">
                        <span *ngIf="email.errors?.['required']">
                            El email es obligatorio
                        </span>
                        <span *ngIf="email.errors?.['email']">
                            El correo tiene un formato incorrecto
                        </span>
                    </div>
                </div>
                <div class="form-floating">
                    <textarea class="form-control mb-3" placeholder="Mensaje..." id="textarea" style="height: 7em; resize: none;"></textarea>
                    <label for="textarea">Mensaje...</label>
                </div>
                <div class="d-grid gap-2">
                    <button class="btn btn-dark">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</section>
